<form method="post" asp-action="AddOrder"asp-controller="Home">
    <input class="form-control" id="name" name="name" placeholder="name" />
    <input class="form-control" id="email" name="email" placeholder="email" />
    <input class="form-control" id="address" name="address" placeholder="address" />
    <input class="form-control" id="mobile" name="mobile" placeholder="mobile" />


    <input type="submit" class="btn btn-primary" value="اكمال الطلب" />





</form>
