<div class="container mt-5 mb-5 ">

    <form asp-action="searchproduct" asp-controller="Home" method="get">
        <div class="row ms-5">
            <div class="col-sm-10"> <input class="form-control m-auto" type="text" name="xname" id="xname" placeholder="ابحث"></div>

            <div class="col-sm-2">
                <button class="btn btn-primary" type="submit" value="Subscribe">ابحث</button>
            </div>
        </div>
    </form>
</div>








@model List<Product>

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="row portfolio-container">
            @foreach (var item in Model)
            {
                    <div class="col-lg-4 col-md-6 portfolio-item ">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>@item.Name </h4>
                                <p>@item.Price</p>
                            </div>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

            }
        </div>
    </div>
</section>